@using Sitecore.Mvc
@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@model Assignment.Models.Service

<link rel="stylesheet" href="~/Styles/Home/Service.css" />


<div class="full">

    @if (Model != null && Model.Item != null)
    {

        MultilistField multiselectField = Model.Item.Fields["Items"];
        Item[] serviceItems = multiselectField.GetItems();

        <div class="services-section">
            <h2 class="services-heading">@Html.Sitecore().Field("Preheader", serviceItems)</h2>
            <h1 class="services-title">@Html.Sitecore().Field("Title", serviceItems)</h1>
            <div class="services-grid">
                @foreach (var item in serviceItems)
                {
                    <div class="service-card">
                        <div class="service-icon">
                            @Html.Sitecore().Field("Image", item)
                        </div>
                        <div class="service-title">
                            @Html.Sitecore().Field("Title", item)
                        </div>
                        <div class="service-description">
                            @Html.Sitecore().Field("Description", item)
                        </div>
                        <a class="service-footer" href="#">
                            @Html.Sitecore().Field("Footer", item)
                        </a>
                    </div>
                }
            </div>
        </div>

    }

</div>

